.card-container {
  border: 2px solid red;
  flex-grow: 9;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
  flex-wrap: wrap;
}

.card {
  height: 100px;
  width: 100px;
  margin: 20px;
}
